cacti.monitor.example.net {
    reverse_proxy cacti:80
    encode gzip
    log {
        output file /data/caddy-cacti.log
    }
}

nagios.monitor.example.net {
    reverse_proxy nagios:80
    encode gzip
    log {
        output file /data/caddy-nagios.log
    }
}

uptime.monitor.example.net {
  reverse_proxy uptime-kuma:3001
  encode gzip
  log {
    output file /data/caddy-uptime-kuma.log
  }
}
